@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

body{
	font-family:lora;
}
.card-body h3,p{
    color:#fff;
}
.top-navbar{
	background:#b39148;
	color:#fff;
}
.top-navbar .fas{
	padding:5px 10px 5px 0px;
}
.top-navbar span{
	padding-right:20px;
}
.top-navbar a{
	padding:5px 10px 5px 10px;
	color:#fff;
}
.top-navbar .fab:hover{
	color:black;
}
.navbar .btn{
	background:#b39148;
	color:#fff;
}
.navbar .btn:hover{
	background:black;
}
.navbar ul li a {
    color: #6c757d;
}
.navbar ul li a:hover{
	color:#b39148;
}
.navbar li.nav-item {
    padding: 11px;
}
nav.navbar.navbar-default.bg-white.text-dark.navbar-expand-lg.sticky-top.py-3 {
    box-shadow: 1px 1px 5px #bfb8b8;
}
#home-area{
	position:relative;
	width:100%;
	height:400px;
}
#home-area:after{
	position:absolute;
	width:100%;
	height:100%;
	content:'';
	background:inherit;
	top:0;
	right:0;
	bottom:0;
	left:0;
	transform-origin:top right;
	transform:skewY(-4deg);
	z-index:-1;
	
}
.bg-overlay{
	position:relative;
	width:100%;
	height:400px;

}
.bg-overlay:after {
    position: absolute;
    width: 100%;
    height: 124%;
    content: '';
  	background:rgba(51,51,102,0.7);
    top: -94px;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
}
.card.card-form.bg-defined.text-center.mt-5.p-3 {
    z-index: 2;
}
.home-inner .col-lg-7.d-none.d-lg-block.d-md-block{
	z-index:1;
	color:#fff;
}
.home-inner strong{
	color:#b39148;
	text-shadow: 1px 2px 1px rgba(0,0,0,.9);
}
.home-section-title {
    width: 70%;
    margin: auto;
}

.home-section-paragraph {
    width: 70%;
    margin: auto;
    text-align: justify;
}
.home-section-paragraph .btn{
	color:#fff;
	background:#b39148;
}
.home-section-paragraph .btn:hover{
	background:rgb(124, 124, 124);
}
.bg-defined{
	background:#171920;
}
.about-section p {
    color: #171920;
}
.about-section h2 {
    font-size: 50px;
    width: 90%;
}
.about-section .btn{
	color:#fff;
	background:#b39148;
}
.about-section .btn:hover{
	background:#171920;
}
.about-us-video {
	position: relative;
	z-index: 1;
}

.about-us-video:after {
    position: absolute;
    content: '';
    background: #b39148;
    width: 200px;
    height: 200px;
    top: 56%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.room-section p{
	color:#171920;
}
.html5-video-player a{
	display: none !important;
}
.room-photo{
	width: 100%;
	height: 25%;
}
.room-photo img{
	width:100%;
	height: 100%;
}
.room-photo h3{
	font-weight: 700;;
}
.client-testimonial .col-md-4 {
	background: #fff !important;
	 color: #171920;
	padding: 35px;
	/* margin-top: 39px; */
}
.room-section .btn{
	color:#fff;
	background:#b39148;;
}
.client-say-section{
	background: url(img/client-say-bg.png);
	}
